.headerClass {
    background-color: #F0F8FB;
    height: 55px;
}

.toggleBtn {
    font-size: 1.8rem;
    cursor: pointer;
}

.searchInput {
    outline: none;
    border: none;
    box-shadow: 1px 1px 2px grey;
    border-bottom: 1px;
    border-radius: 4px;
    position: relative;
}