.sidebarMenu {
    position: relative;
    height: 100%;
    width: 66px;
    background-color: #007EA7;
    align-items: flex-start !important;
}

.sidebarMenuToggle {
    position: fixed;
    height: 100%;
    width: 240px;
    align-items: flex-start !important;
    background-color: #007EA7;
}

.navbar {
    padding: unset !important;
}

.closeBtn {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.linkIcon {
    color: #ffffff;
    font-size: 2.1rem;
    opacity: 0.8;
}

.linkName {
    color: #ffffff;
    font-size: 1.2rem
}