.sidebarMenu {
    position: relative;
    height: 100%;
    width: 66px;
    background-color: #007EA7;
    align-items: flex-start !important;
}

.sidebarMenuToggle {
    height: 100%;
    width: 200px;
    align-items: flex-start !important;
    background-color: #007EA7;
    z-index: 999;
}

.navbar {
    padding: unset !important;
}

.active {
    background-color: #3A93B0;
    border-radius: 35px;
}

.sidebarLink:hover {
    background-color: #3A93B0;
    border-radius: 35px;
}

.linkTag {
    text-decoration: none !important;
}

.logoContainer {
    padding-left: 0.8rem;
    align-self: center;
}

.logoSvg {
    transform: rotate(-45deg);
}

.logoTitle {
    align-self: center;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
}

.closeBtn {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.linkIcon {
    color: #ffffff;
    font-size: 2rem;
    opacity: 0.8;
}

.linkName {
    color: #ffffff;
    font-size: 1.1rem
}

.logout {
    cursor: pointer;
}