.headerTitle {
    font-size: 2.5rem;
}

.subHeaderTitle {
    font-size: 2rem;
}

.descriptionText {
    font-size: 1.75rem;
}

.descContainer {
    background-color: #ffffff;
}

.dragDropContainer {
    border-style: dashed;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.fileUploadContainer {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

.fileUploadContain {
    border: dashed grey 4px;
    background-color: rgba(255, 255, 255, .8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.fileUpload {
    position: absolute;
    top: 28%;
    right: 0;
    left: 0;
    text-align: center;
    color: #505050;
}

.dropText {
    font-size: 1.6rem;
    font-weight: 700;
}

input[type=file]::file-selector-button {
    padding: .2rem .4rem;
    border-radius: .2rem;
    font-size: 1.1rem;
    background-color: #7B8CA8;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    white-space: pre-wrap;
    font: unset;
}

.uploadBtn {
    padding: .1rem .5rem;
    border-radius: .2rem;
    font-size: 1rem;
    background-color: #7B8CA8;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
}

.fileInput+input {
    font-size: unset;
}